@charset "utf-8";
/* CSS Document */

/*Sign up*/
.signup{
float:right; margin-left:-240px; height:28px;
margin-right:150px;
width:220px;
text-align:center;

}
.signup h2 a{color:#FFFFFF; text-decoration:none;}

.signup h2 a span{padding:0 16px 0 16px;}

#signup-warp{text-align:center;}